.repair
  background-image: url('../img/repair/color-fone.jpg'), url('../img/repair/repair-fone.png')
  background-position: left center, center right
  background-size: 50%, contain
  background-repeat: repeat-y, no-repeat
  &-block
    display: flex
    padding: 90px 0
    &__half-right
      flex-basis: 50%
      padding-right: 70px
      text-align: left
    &__half-left
      flex-basis: 50%
      padding-left: 200px
    &__title
      margin-bottom: 50px
      font-size: 20px   
      max-width: 530px
    &__subtitle
      font-size: 16px
      margin-bottom: 80px
  &-list
    list-style: none
    padding: 0
    &__item
      margin-bottom: 30px
      display: flex
      align-items: center
      +bold
    &__count
      +bold
      border: 1px solid black
      width: 35px
      height: 35px
      border-radius: 50%
      display: flex
      justify-content: center
      align-items: center
    &__text
      max-width: 400px
      padding-left: 30px
  &-form
    display: flex
    flex-direction: column
    margin-top: 50px
    &__input
      padding: 20px
      margin-bottom: 15px
    &__button
      display: block
      padding: 20px
      border-radius: 10px
      margin-top: 15px
      margin-bottom: 30px
      +bold

@media (max-width: 1200px)
  .repair
    &-block
      &__title
        margin-bottom: 25px
      &__subtitle
        font-size: 14px
        margin-bottom: 35px
      &__half-right
        padding-right: 15px
      &__half-left
        padding-left: 100px
    &-list
      &__text
        font-size: 15px
        max-width: 300px

@media (max-width: 768px)
  .repair
    background-image: url('../img/repair/color-fone.jpg'), url('../img/repair/repair-fone.png')
    background-position: top center, center bottom
    background-size: 100% 512px, contain
    background-repeat: repeat-x, no-repeat
    &-block
      flex-direction: column
      padding: 70px 0 10px
      &__title
        margin-bottom: 15px
      &__subtitle
        font-size: 14px
        margin-bottom: 35px
      &__half-right
        padding-right: 0
      &__half-left
        margin-top: 50px
        padding: 0
    &-list
      &__text
        font-size: 15px
        max-width: 80%
        padding-left: 10px